.progressbackground{background-color: #66523b;margin: 20px 0px;}
.pc1{
	background: -webkit-linear-gradient(180deg, #0f96c1, #1a6891);
	background:-moz-linear-gradient(180deg, #0f96c1, #1a6891);
	background:-ms-linear-gradient(180deg, #0f96c1, #1a6891);
	background: -o-linear-gradient(180deg, #0f96c1, #1a6891);
	background:linear-gradient(180deg, #0f96c1, #1a6891);
}
.pc2{
	background: -webkit-linear-gradient(180deg, #ec5925, #a43015);
	background:-moz-linear-gradient(180deg, #ec5925, #a43015);
	background:-ms-linear-gradient(180deg, #ec5925, #a43015);
	background: -o-linear-gradient(180deg, #ec5925, #a43015);
	background:linear-gradient(180deg, #ec5925, #a43015);
}
.pc3{
	background: -webkit-linear-gradient(180deg, #f1bd32, #c29123);
	background:-moz-linear-gradient(180deg, #f1bd32, #c29123);
	background:-ms-linear-gradient(180deg, #f1bd32, #c29123);
	background: -o-linear-gradient(180deg, #f1bd32, #c29123);
	background:linear-gradient(180deg, #f1bd32, #c29123);
}
table{width: 80%; margin: auto;}
#title,.c td{text-align: center;font-weight: bold;}
#g1,#g2,#g3{width: 25%;min-width: 280px;margin: auto;margin-top: 50px;display: block;}
@media (max-width: 767px){
	#g1,#g2,#g3{display: block;}
}@media (min-width: 768px) and (max-width: 2000px){
	#g1,#g2,#g3{display: inline-block;margin: auto;}
}
#endtime{margin-top: 50px;}
.layer{position:relative;left:0;width:100%;height:100%;text-align:center}
.layer .content{display:inline-block;vertical-align:middle}
.layer .blank{display:inline-block;width:0;height:100%;vertical-align:middle}
#footer{position: absolute;margin: 40px 20px;}